.build/
build/
*.dmg
.DS_Store
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
DerivedData/
*.swp
*~.nib
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser
*.xcworkspace/
xcuserdata/
*.moved-aside
*.xcuserstate
*.xcscmblueprint
Packages/
*.dSYM.zip
*.dSYM
